html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.tg-button-small {
  display: block;
  flex-grow: 0;
  width: 120px;
  height: 24px;
  background: navy;
  font-size: 0.8em;
  color: white;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.tg-button-large {
  flex-grow: 0;
  width: 16%;
  height: 30px;
  background: navy;
  font-size: 1.4em;
  color: white;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.tg-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  min-height: 0px;
}

.tg-header, .tg-body, .tg-footer {
  flex-shrink: 0;
}

/* ****** */
/* HEADER */
/* ****** */

.tg-header {
  background: navy;
  padding: 5px;
  height: 50px;
  text-align: left;
  line-height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tg-freightbooking {
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-left: 420px;
  display: inline;
}

.tg-slogan {
  font-weight: bold;
  font-size: 1.3em;
  color:yellow;
  font-style:italic;
  margin-left: 40px;
  display: inline;
}

@media screen and (max-width: 1500px) {
  .tg-slogan {
    display: none;
  }
}

.tg-header-right {
  position: absolute;
  background: white;
  margin: 2px;
  margin-top: 6px;
  height: 46px;
  width: 300px;
  right: 20px;
  vertical-align: middle;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
}

.tg-header-right > img {
  display: inline-flex;
  margin-left: 20px;
  margin-top: 3px;
  height: 40px;
  width: auto;
}

.tg-header-right > p {
  display: inline-flex;
  margin-left: 20px;
  margin-bottom: 30px;
  vertical-align: middle;
}

.tg-header-right > p > a {
  color: blue;
  font-weight: bold;
  font-size: 1em;
}

.tg-header-logout > a:link, .tg-header-logout > a:visited, .tg-header-logout > a:active {
  color: white;
}

.tg-header-game-user {
  position: fixed;
  text-align: left;
  color: white;
  font-weight: normal;
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 10px;
}

.tg-header-game-user > p {
  margin: 1px;
}


/* ****** */
/* FOOTER */
/* ****** */

.tg-footer {
  width: 100%;
  background: navy;
  padding: 0px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
}

.tg-footer > table {
  position: absolute;
  margin-top: 0;
  padding-top: 0;
}

.tg-help-icon-left {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: white;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 6px;
  cursor: pointer;
}

.tg-help-icon-left > img {
  display: inline;
  width: 44px;
  height: 44px;
}

.tg-help-col {
  padding-right: 20px;
}

.tg-help-col td {
  white-space: nowrap;
}

.tg-help-col p {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
  font-size: 0.7em;
  color: white;
  font-style: normal;
}

.tg-round {
  margin-top: 9px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  padding-right: 20px;
}

/* ======================= */
/* MAIN BODY OF THE SCREEN */
/* ======================= */

.tg-body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 0;
  height: calc(100vh - 200px);
}

.tg-col1 {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 400px;
  min-width: 400px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 20px;
}

.tg-col2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 0;
  height: calc(100vh - 300px);
}

.tg-menu {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-left: 1px solid teal;
  border-top: 1px solid teal;
  border-right: 3px solid teal;
  border-bottom: 3px solid teal;
  border-radius: 10px;
  height: calc(70vh - 100px);
  margin-bottom: 20px;
}

.tg-bar {
  flex-grow: 0;
  height: 5px;
}

.tg-message-box {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 30%;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
  border-radius: 10px;
  height: calc(30vh - 100px);
}

.tg-icon-col-menu {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top-left-radius : 5px;
  border-bottom-left-radius : 5px;
  background-color: teal;
}

.tg-icon-col-message {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top-left-radius : 5px;
  border-bottom-left-radius : 5px;
  background-color: gray;
}

.tg-icon {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  text-align: center;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
}

.tg-menu-mission, .tg-menu-score, .tg-menu-orders {
  flex-grow: 1;
  margin: 10px;
}

.tg-org-scores-orders {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}

.tg-menu-mission-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  color: teal;
}

.tg-menu-mission-body {
  font-style: normal;
  text-align: left;
  font-size: 1em;
  color: black;
}

/* ****** */
/* SCORES */
/* ****** */

.tg-menu-score {
  flex-direction: column;
  width: 300px;
  margin-left: 10px;
  height: calc(70vh - 160px);
  overflow: hidden;
}

.tg-menu-score-header {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  color: teal;
  margin-top: 10px;
  width: 300px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}

.tg-menu-score-body {
  flex-direction: row;
  width: 300px;
  height: calc(70vh - 260px);
  flex-grow: 0;
  flex-shrink: 0;
}

.tg-menu-score-col {
  display: inline-block;
  width: 95px;
}

.tg-menu-score-progress-bar {
  display: block;
  position: relative;
  width: 32px;
  height: calc(70vh - 280px);
  border: solid grey 1px;
  margin-left: 40px;
  padding: 0px;
  border-radius: 10px;
}

.tg-menu-score-progress-bar-bottom {
  width: 32px;
  display: inline;
  background-color: teal; /* to be overridden to red if below target */
  color: white;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  height: 40%; /* initial value, to be overridden */
  border-radius: 10px;
}

.tg-menu-score-progress-bar-bottom > p {
  margin-top: 4px;
}

.tg-menu-max-score {
  display: block;
  position: absolute;
  font-size: 0.8em;
  text-align: right;
  top: 150px;
  width: 35px;
}

.tg-menu-min-score {
  display: block;
  position: absolute;
  font-size: 0.8em;
  text-align: right;
  top: calc(70vh - 130px);
  width: 35px;
}

.tg-menu-goal-text {
  display: block;
  position: absolute;
  font-size: 0.8em;
  text-align: right;
  top: calc(35vh + 50px); /* 50% */
  width: 35px;
}

.tg-menu-goal-score {
  display: block;
  position: absolute;
  font-size: 0.8em;
  text-align: right;
  top: calc(35vh + 60px); /* 50% */
  width: 35px;
}

.tg-menu-score-dashline {
  position: absolute;
  top: calc(35vh + 58px); /* 50% */
  width: 50px;
  margin-left: 30px;
  border-bottom: 1px dashed teal;
}

.tg-menu-score-footer {
  display: flex;
  width: 300px;
  height: 50px;
  margin-top: 16px;
}

.tg-menu-score-progress-icon {
  display: inline-block;
  width: 100px;
  height: 50px;
}

.tg-menu-score-progress-icon > img {
  width: 24px;
  height: 24px;
  margin-left: 43px;
}

/* ****** */
/* ORDERS */
/* ****** */

.tg-menu-orders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}

.tg-menu-order {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: flex-start;
}

.tg-menu-order-header {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin-top: 5px;
  color: teal;
}

.tg-menu-order-body {
  display: block;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: left;
  color: black;
  font-style: normal;
  font-size: 1em;
}

.tg-menu-order-buttons {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  height: 30px;
  margin-top: 15px; 
  margin-bottom: 15px; 
  justify-content: space-around;
}

.tg-menu-order-button {
  width: 45%;
}

.tg-content-menu {
  height: 40px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tg-content-menu-button {
  width: 16%;
}

.tg-content-menu-button-inactive {
  width: 16%;
  background-color: gray;
  cursor: default;
}

.tg-content-menu-button-red {
  width: 16%;
  background-color: red;
}

.tg-content {
  flex-grow: 1;
  min-height: 0;
}

.tg-message-col2 {
  flex-grow: 1;
  margin: 5px;
  overflow-y: auto;
}

.tg-messages {
  display: block;
}

.tg-message {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.tg-message-carrier-line {
  font-style: normal;
}

/* ================ */
/* CARRIER OVERVIEW */
/* ================ */

.tg-carrier-list {
  flex-direction: column;
  flex-grow: 1;
  margin-right: 10px;
  overflow: auto;
  min-height: 0; /* for firefox */
  max-height: calc(100vh - 270px);
}

.tg-carrier {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 800px;
  height: 80px; 
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.tg-carrier-icon {
  width: 300px;
  height: 80px;
}

.tg-carrier-icon > img {
  max-width: 250px;
  max-height: 80px;
  margin-right: 20px;
}

.tg-carrier-middle {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: space-around;
}

.tg-carrier-middle-name {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.tg-carrier-middle-slogan {
  font-size: 0.9em;
  font-style: italic;
  color: gray;
}

.tg-carrier-middle-stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tg-carrier-middle-stars > img {
  width: 24px;
  height: 24px;
}

.tg-carrier-middle-reviews {
  font-size: 0.8em;
  font-style: italic;
  color: orange;
  position: relative;
  margin-top: 5px;
  margin-left: 20px;
}

.tg-carrier-button {
  width: 150px;
  margin-top: 24px;
}

/* ===================== */
/* TRUCK COMPANY DETAILS */
/* ===================== */

.tg-carrier-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 800px;
  margin-right: 10px;
  overflow: auto;
  min-height: 0; /* for firefox */
  max-height: calc(100vh - 270px);
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.tg-carrier-details-row {
  display: flex;
  flex-direction: row;
}

.tg-carrier-details-icon {
  flex-grow: 0;
}

.tg-carrier-details-icon > img {
  max-width: 300px;
  max-height: 150px;
  margin-right: 40px;
}

.tg-carrier-details-name-stars {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
}

.tg-carrier-details-name {
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.tg-display-stars {
  display: flex;
  margin-top: -20px;
}

.tg-display-stars > span {
  font-size: 2.5em;
  color: orange;
}

/* https://stackoverflow.com/questions/65466978/star-rating-component-fill-all-previous-stars-on-hover */

.tg-review-stars {
  display: flex;
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-top: -20px;
}

.tg-review-stars > span {
  font-size: 2.5em;
  color: orange;
  cursor: pointer;
}

.tg-review-stars > span:hover:before,
.tg-review-stars > span:hover~span:before {
  content: "\2605";
  position: absolute;
}

.tg-carrier-details > hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

.tg-carrier-details-description {
  font-size: 1em;
  font-weight: normal;
}

.tg-carrier-details-buttons {
  display: flex;
  width: 800px;
  flex-direction: row;
  justify-content: space-between;
}

.tg-carrier-details-button {
  margin-top: 24px;
}

/* ===================== */
/* TRUCK COMPANY WEBSITE */
/* ===================== */

.tg-carrier-website {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 10px);
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.tg-carrier-website-scroll {
  display: flex;
  width: calc(100% - 10px);
  margin-right: 10px;
  min-height: 0; /* for firefox */
  max-height: calc(100vh - 325px);
  overflow: auto;
}

.tg-carrier-website-image {
  display: block;
}

.tg-carrier-website-image > img {
  width: 100%;
  height: auto;
}

.tg-carrier-nowebsite-image {
  display: flex;
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;  
}

/* ===================== */
/* TRUCK COMPANY REVIEWS */
/* ===================== */

.tg-carrier-reviews {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 800px;
  margin-right: 10px;
  overflow: auto;
  min-height: 0; /* for firefox */
  max-height: calc(100vh - 270px);
  margin-bottom: 5px;
  padding: 5px;
}

.tg-carrier-review {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.tg-carrier-review-col1 {
  display: flex;
  width: 200px;
  flex-direction: column;
}

.tg-carrier-review-col2 {
  display: flex;
  flex-grow: 1;
  width: 100%;
  font-weight: normal;
  font-size: 1em;
  text-align: left;
  color: black;
}

.tg-carrier-review-when {
  display: flex;
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 0.9em;
  color: black;
}

/* =============================== */
/* TRUCK COMPANY REPORT ASK TO BUY */
/* =============================== */

.tg-carrier-report-ask {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 800px;
  margin-right: 10px;
}

.tg-carrier-report-ask-text {
  display: block;
  flex-grow: 1;
  width: 800px;
  text-align: center;
  font-size: 1em;
  font-style: italic;
}

.tg-carrier-report-ask-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 150px;
}

.tg-carrier-report-ask-button {
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

/* ==================== */
/* TRUCK COMPANY REPORT */
/* ==================== */

.tg-carrier-report {
  display: flex;
  flex-grow: 1;
  width: calc(100% - 10px);
  margin-right: 10px;
  overflow: auto;
  min-height: 0; /* for firefox */
  max-height: calc(100vh - 270px);
  margin-bottom: 5px;
  padding: 5px;
}

.tg-carrier-report-columns {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.tg-carrier-report-col1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 34%;
  padding-right: 20px;
  margin-top: 25px;
}

.tg-carrier-report-official {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 10px;
  color: orange;
}

.tg-carrier-report-col2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
  padding-right: 20px;
}

.tg-carrier-fb-graph {
  margin-bottom: 15px;
  width: 100%;  
}

.tg-carrier-report-col2 img {
  width: 100%;
}

.tg-carrier-report-col3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
}

.tg-carrier-report-col3 img {
  width: 100%;
}

.tg-carrier-report-header {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px; 
}

.tg-carrier-report-subheader {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px; 
}

.tg-carrier-report-line {
  display: block;
  font-size: 1em;
  font-weight: normal;
  margin-top: 8px;
  margin-bottom: 0px; 
}

/* **************** */
/* CONFIRMED ORDERS */
/* **************** */

.tg-orders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 10px);  
  overflow: auto;
  min-height: 0; /* for firefox */
  max-height: calc(100vh - 270px);
}

.tg-orders-header-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.tg-orders-header-left {
  display: flex;
  width: 50%;
  align-content: left;
  font-size: 1.5em;
  font-style: normal;
  color: orange;  
  margin-right: 20px;
}

.tg-orders-header-right {
  display: flex;
  width: 50%;
  align-content: right;
  font-size: 1.5em;
  font-style: normal;
  color: orange;  
  margin-left: 20px;
}

.tg-orders-hr-row {
  display: flex;
  flex-direction: row;
}

.tg-orders-hr-left, .tg-orders-hr-right {
  display: flex;
  position: relative;
  margin: 8px auto;
  width: 100%;
  border: 2px solid orange;
}

.tg-orders-hr-left {
  margin-right: 20px;
}

.tg-orders-hr-right {
  margin-left: 20px;
}

.tg-order-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.tg-order {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
  padding: 5px;
}

.tg-order-header {
  display: flex;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.tg-order-body {
  display: block;
  flex-grow: 1;
  text-align: left;
  font-size: 1em;
  font-weight: normal;
}

.tg-order-button-body-row {
  display: block;
  width: 100%;
}

.tg-order-button-body-row > .tg-button-small {
  margin-top: 5px;
  display: block;
  float: right;
}

.tg-carrier-button-body-row {
  width: 100%;
  display: flex;
}

.tg-carrier-button-body-button {
  width: 50%;
}

.tg-carrier-button-body-row > .tg-button-small {
  margin-top: 5px;
  display: block;
  float: left;
}

.tg-accepted-quote {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 5px;
}

.tg-accepted-quote-header {
  flex-direction: row;
  display: flex;
  margin-bottom: 5px;
}

.tg-accepted-quote-header-carrier {
  width: 50%;
  display: flex;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.tg-accepted-quote-header-review {
  width: 50%;
  display: flex;
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.tg-accepted-quote-body {
  flex-direction: row;
  display: flex;
  margin-top: 5px;
  flex-grow: 1;
}

.tg-accepted-quote-body-carrier {
  display: flex;
  width: 50%;
  text-align: left;
  font-size: 1em;
  font-weight: normal;
  margin-right: 10px;
}

.tg-accepted-quote-body-review {
  display: flex;
  width: 50%;
  text-align: left;
  font-size: 1em;
  font-weight: normal;
  margin-left: 10px;
}

/* ****** */
/* QUOTES */
/* ****** */

.tg-quotes {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 5px;
}

.tg-quote-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.tg-quote-row-header-name {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
}

.tg-quote-row-name {
  text-align: left;
  font-size: 1em;
  font-weight: normal;
  margin-top: 4px;
  width: 50%;
}

.tg-quote-row-header-cost {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  width: 30px;
  margin-left: 10px;
}

.tg-quote-row-cost {
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  vertical-align: middle;
  margin-top: 4px;
  margin-right: 5px;
  width: 30px;
  margin-left: 10px;
}

.tg-quote-row-header-review {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  min-width: 124px;
  margin-left: 10px;
}

.tg-quote-row-review {
  min-width: 124px;
  margin-left: 10px;
}

.tg-quote-review-stars {
  display: flex;
}

.tg-quote-review-stars > img {
  width: 24px;
  height: 24px;
}

.tg-quote-row-header-button {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  width: 120px;
  margin-left: 10px;
}

.tg-quote-accept-button {
  background: navy;
  margin-left: 10px;
}

/* ================== */
/* FINAL SCORE SCREEN */
/* ================== */

.tg-final-score {
  flex-direction: column;
  justify-content: flex-start;
}

.tg-final-score-header {
  display: flex;
  width: 100%;
  align-content: left;
  font-size: 1.5em;
  font-style: normal;
  color: orange;  
  margin-right: 20px;
}

.tg-final-score-hr {
  display: flex;
  position: relative;
  width: 100%;
  border: 2px solid orange;
}

.tg-final-score-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  max-height: calc(100vh - 310px);
  max-width: calc(100vw - 500px);
  overflow: auto;
}

.tg-final-score-round-table {
  display: flex;
  margin-left: 00px;
  margin-top: 20px;
}

.tg-final-score-carrier-table {
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
}

.tg-final-score-container table {
  border-collapse: collapse;
  border: 1px solid gray;
}

.tg-final-score-container table td {
  border-collapse: collapse;
  border: 1px solid gray;
  padding: 4px;
  text-align: center;
}

.tg-final-score-container table > thead td {
  font-style: italic;
}

/* ============================== */
/* BRIEFING AND DEBRIEFING SCREEN */
/* ============================== */

.tg-debrief, .tg-brief {
  flex-direction: column;
  justify-content: flex-start;
}

.tg-debrief-header, .tg-brief-header {
  display: flex;
  width: 100%;
  align-content: left;
  font-size: 1.5em;
  font-style: normal;
  color: orange;  
  margin-right: 20px;
}

.tg-debrief-hr, .tg-brief-hr {
  display: flex;
  position: relative;
  width: 100%;
  border: 2px solid orange;
}

.tg-debrief-container, .tg-brief-container {
  display: block;
  margin-top: 20px;
  max-height: calc(100vh - 310px);
  max-width: calc(100vw - 500px);
  overflow: auto;
}

.tg-debrief-container img, .tg-brief-container img {
  max-width: 99%;
}

/* ===================================== */
/* MODAL WINDOWS WITH POP UP INFORMATION */
/* ===================================== */

/* modal background */
.tg-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 9; /* On top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal window close button */
.tg-modal-close {
  font-size: 2em;
  font-weight: bold; 
  padding-left: 10px;
}

.tg-modal-close:hover,
.tg-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* modal window definition for client */
.tg-modal-window {
  position: absolute;
  z-index: 10;
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fefefe;
  left: calc(50vw - 300px);
  top: calc(50vh - 200px);
  border: 1px solid #888;
  width: 600px;
  height: 400px;
}

/* modal window header for client */
.tg-modal-window-header {
  cursor: move;
  display: flex;
  background-color: orange;
  width: 100%;
  height: 40px;
  padding-top: 2px;
}

.tg-modal-window-header > p {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  text-align: center;
  margin-top: 8px;
}

.tg-modal-button-row {
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tg-modal-body {
  flex-direction: column;
  justify-content: space-around;
  width: 580px;
  padding-left: 10px;
  padding-right: 10px;
}

.tg-modal-text {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tg-modal-text > p {
  text-align: center;
  font-size: 1em;
  font-style: normal;
}
  
/* ************ */
/* CLIENT POPUP */
/* ************ */

.tg-modal-client-body {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

/* modal window content for client */
.tg-modal-client-text {
  flex-grow: 1;
  font-style: normal;
  font-size: 1em;
  color: black;
  text-align: left;
  margin-top: 50px;
}

/* icon for client info */
.tg-modal-client-icon > img {
  height: 75px;
  width: auto;
  margin-right: 20px;
  margin-top: 50px;
}
